.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml___jb_tmp___
addressbook-web-tests/build/tmp/testContacts/jar_extract_388196311749824319_tmp
*.html
addressbook-web-tests/build/reports/tests/testContacts/css/style.css
*.js
addressbook-web-tests/build/reports/tests/testGroups/css/style.css
addressbook-web-tests/build/tmp/testGroups/jar_extract_7640170408698064449_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_5573169531509227345_tmp
*.css
addressbook-web-tests/build/test-results/testContacts/binary/output.bin.idx
*.bin
addressbook-web-tests/build/tmp/testContacts/jar_extract_5045865102045697784_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_8015502095985261873_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_9019305214171987229_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_360693349494383454_tmp
*.log
